:root {
  --smaller-font-size: calc(0.25rem + 1vw);
  --small-font-size: calc(0.75rem + 1vw);
  --regular-font-size: calc(1rem + 1vw);
  --large-font-size: calc(2rem + 1vw);
  --larger-font-size: calc(4rem + 1vw);

  --transition-duration: 0.25s;
  --transition-function: ease-in-out;
}

:root,
:root.dark {
  --primary-bg-color: #0c0b10;
  --hover-bg-color: #181818;
  --text-color: #EDEDED;
  --highlight-text-color: rgb(255, 106, 106);
}
:root.light {
  --primary-bg-color: #EDEDED;
  --hover-bg-color: #d3d3d3;
  --text-color: #181818;
  --highlight-text-color: #D2001A;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html,
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  scroll-behavior: smooth;
  transition-property: color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition);
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "poppins", "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

main.active-nav {
  opacity: 0.3;
  filter: blur(2px);
}

section {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 1rem;
  padding: 4rem 0;
}

section > .section-heading {
  position: absolute;
  font-size: var(--large-font-size);
  left: 7.5%;
  top: 5%;
  opacity: 0.1;
}

@keyframes delayShowing {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ========================================================================== */

/* Start of Header and Top Nav */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--primary-bg-color);
  transition-property: top, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

header.hide {
  top: -50%;
}

header > .header-container {
  margin-top: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  height: 10dvh;
}

.header-btn {
  padding: 1rem 2.5rem;
  font-size: var(--small-font-size);
  border-radius: 25px;
}

header > .header-container > .logo {
  padding: 0 1rem;
  font-size: var(--regular-font-size);
  margin-right: 3rem;
  border-radius: 25px;
}

.top-nav-list {
  display: flex;
  align-self: center;
  flex-direction: row;
  background-color: var(--primary-bg-color);
}

header > .header-container > .header-btn.top-nav-hamburger-btn,
header > .header-container > .header-btn.toggle-theme-btn {
  padding: 1rem;
  display: grid;
  align-items: center;
}

header > .header-container > .header-btn.top-nav-hamburger-btn {
  display: none;
}

header > .header-container > .header-btn.toggle-theme-btn {
  margin-left: auto;
}


header .header-btn:hover,
.top-nav-list.mobile > .header-btn:hover {
  background-color: var(--hover-bg-color);
}


.top-nav-list.mobile {
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}


/* End of Header and Top Nav */

/* ========================================================================== */

/* Start of Home Section */

.home {
  margin-top: 10vh;
  margin-top: 10dvh;
  padding-top: 0;
  min-height: 90vh;
  min-height: 90dvh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home > .introduction-container, 
.home > .image-sieg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home > .introduction-container > .introduction {
  font-size: var(--regular-font-size);
  text-align: justify;
  align-self: center;
  margin: 0 10%;
  vertical-align: baseline;
}

.home > .introduction-container > .introduction > .name-intro {
  font-size: var(--large-font-size);
}

.home > .introduction-container > .introduction > .name {
  font-size: var(--larger-font-size);
  color: var(--highlight-text-color);
  font-weight: 700;
}

.home > .introduction-container > .introduction > .name > span {
  color: var(--text-color);
}

.home > .image-sieg-container > .image-sieg {
  height: auto;
  width: 90%;
  margin: auto;
  display: block;
}

/* End of Home Section */

/* ========================================================================== */

/* Start of Skills Section */

.skills > .skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 3rem;
}

.skills > .skills-container > .skill-icon {
  font-size: var(--large-font-size);
  margin: 0.5rem;
  padding: 1rem;
  animation: delayShowing 0.25s;
}

.skills > .skills-container > .skill-icon:hover {
  color: var(--highlight-text-color);
}


/* Shuffle button is in skills section, more button is in project section */
.shuffle-btn,
.more-btn {
  background-color: var(--hover-bg-color);
  color: var(--text-color);
  margin: 2rem auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--smaller-font-size);
  padding: 1.25rem;
  border-radius: 2rem;
}
.shuffle-btn:hover,
.more-btn:hover {
  background-color: var(--text-color);
  color: var(--primary-bg-color);
}

/* End of Skills Section */

/* ========================================================================== */

/* Start of Project Section */

.projects > .projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 3rem;
}

.projects > .projects-container > .project-container {
  width: 40vmax;
  aspect-ratio: 16 / 9;
  border-radius: 25px;
  opacity: 0.75;
  box-shadow: 0.75rem 0.75rem 3px var(--hover-bg-color);
  position: relative;
  transition-property: opacity, top, right;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.projects > .projects-container > .project-container:hover {
  box-shadow: 1rem 1rem var(--highlight-text-color);
  opacity: 1;
  top: -5px;
  right: 5px;
}

.projects > .projects-container.more-projects {
  padding-top: 1 rem;
  display: none;
  visibility: hidden;
  animation: delayShowing 0.25s ease-in-out;
}

.projects > .projects-container.more-projects.hidden {
  display: flex;
  visibility: visible;

}

.projects > .projects-container > .project-container > * {
  position: absolute;
}

.projects > .projects-container > .project-container > img,
.projects > .projects-container > .project-container > p,
.projects > .projects-container > .project-container > .project-links > a {
  border-radius: 25px;
}

.projects > .projects-container > .project-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.projects > .projects-container > .project-container:hover > p,
.projects > .projects-container > .project-container:hover > img {
  filter: blur(3px);
}

.projects > .projects-container > .project-container.text {
  background-color: var(--text-color);
  color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--regular-font-size);
}

.projects > .projects-container > .project-container > .project-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity; 
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.projects > .projects-container > .project-container:hover > .project-links {
  visibility: visible;
  opacity: 1;
}

.projects > .projects-container > .project-container > .project-links > a {
  background-color: var(--hover-bg-color);
  color: var(--text-color);
  width: 90%;
  font-size: var(--small-font-size);
  text-align: center;
  padding: 7.5%;
  text-decoration: none;
}

.projects > .projects-container > .project-container > 
.project-links > .inactive-link {
  opacity: 0.5;
  cursor: not-allowed
}

/* End of Projects Section */

/* ========================================================================== */

/* Start of Contacts Section */

.contacts {
  min-height: 0;
  padding-top: 3rem;
}
.contacts > hgroup {
  padding: 2em;
}

.contacts > hgroup > * {
  text-align: center;
}

.contacts > hgroup > .contact-title {
  font-size: calc(1.25em + 1vw);
  color: var(--highlight-text-color);
}

.contacts > hgroup > p {
  font-size: calc(1em + 1vw);
}

.contacts > .contact-infos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contacts > .contact-infos-container > .contact-info-container {
  display: flex;
  flex-direction: column;
  width: 30vmax;
  width: 30dvmax;
  aspect-ratio: 16 / 4;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}

.contacts > .contact-infos-container > a {
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
}


.contacts > .contact-infos-container > a:hover {
  background-color: var(--hover-bg-color);
}

.contacts > .contact-infos-container > a > i {
  color: var(--highlight-text-color);
  font-size: calc(1em + 1vw);
}

.contacts > .contact-infos-container > a > span {
  font-size: var(--smaller-font-size);
}


.contacts > .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.contacts > .socials > a {
  justify-content: center;
  border-radius: 50%;
  margin: 3em 1em 0;
  font-size: calc(0.75em + 1vw);
  text-decoration: none;
  color: var(--text-color);
}

.contacts > .socials > a > i:hover {
  color: var(--highlight-text-color);
}


footer > .copyright {
  text-align: center;
  display: block;
  padding-bottom: 3em;
  font-size: calc(0.1rem + 1vw);
  font-size: var(--smaller-font-size);
}


/* End of Contacts Section */

/* ========================================================================== */

/* Start of Media Queries */


/* Mobile and Tablets */
@media screen and (max-width: 767px) {
  header > .header-container  {
    justify-content: space-between;
  }

  header > .header-container > .logo {
    margin-right: 0;
  }
  
  header > .header-container > .top-nav-list {
    display: none;
  }

  header > .header-container > .header-btn.top-nav-hamburger-btn {
      display: grid;
  }

  header > .header-container > .header-btn.toggle-theme-btn {
    margin-left: 0;
  }
  
  .home > .introduction-container {
    height: 90vh;
    height: 90dvh;
  }
  
  .home > .introduction-container > .introduction {
    text-align: center;
  }

  .home {
    grid-template-columns: none;
    grid-auto-flow: row;
  }

  .home > .image-sieg-container > .image-sieg {
    display: none;
  }
  
}


/* Small Monitors */
@media screen and (min-width: 768px) and (max-width:991px) {
  header .header-btn {
    padding: 1rem 1.5rem;
  }

  .home > .introduction-container {
    height: 90vh;
    height: 90dvh;
  }
  
  .home > .introduction-container > .introduction {
    text-align: center;
  }

  .home {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
  .home > .image-sieg-container > .image-sieg {
    display: none;
  }
}