:root {
  --primary-bg-color: #0c0b10;
  --hover-bg-color: #181820;
  --secondary-bg-color: #181818;

  --text-color: #EDEDED;
  --highlight-text-color: rgb(255, 106, 106);

  --smaller-font-size: 1rem;
  --small-font-size: 1.25rem;
  --regular-font-size: 1.75rem;
  --large-font-size: 4rem;
  --larger-font-size: 6rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html,
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: "poppins", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "poppins", "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  height: 10dvh;
}

main.active-nav {
  opacity: 0.3;
  filter: blur(2px);
}

/* ========================================================================== */

/* Start of Header and Top Nav */


header > .logo,
.header-btn {
  padding: 1rem 2.5rem;
  font-size: var(--small-font-size);
  border-radius: 25px;
}

header > .logo {
  padding: 0 1rem;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-size: var(--regular-font-size);
  margin-right: 3rem;
  border-radius: 25px;
}

.top-nav-list {
  display: flex;
  align-self: center;
  flex-direction: row;
}

header > .header-btn.top-nav-hamburger-btn,
header > .header-btn.toggle-theme-btn {
  padding: 1rem;
  display: grid;
  align-items: center;
}

header > .header-btn.top-nav-hamburger-btn {
  display: none;
}

header > .header-btn.toggle-theme-btn {
  margin-left: auto;
}


header .header-btn:hover,
.top-nav-list.mobile > .header-btn:hover {
  background-color: var(--hover-bg-color);
}


.top-nav-list.mobile {
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

section {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
}

section > .section-heading {
  position: absolute;
}

/* End of Header and Top Nav */

/* ========================================================================== */

/* Start of Home Section */

.home {
  min-height: 90vh;
  min-height: 90dvh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home > .introduction-container, 
.home > .image-sieg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home > .introduction-container > .introduction {
  font-size: var(--regular-font-size);
  text-align: justify;
  align-self: center;
  margin: 0 10%;
  vertical-align: baseline;
}


.home > .introduction-container > .introduction > .name-intro {
  font-size: var(--large-font-size);
}

.home > .introduction-container > .introduction > .name {
  font-size: var(--larger-font-size);
  color: var(--highlight-text-color);
  font-weight: 700;
}


.home > .image-sieg-container > .image-sieg {
  
  /* filter: grayscale(1.0); */
  opacity: 0.6;
  height: auto;
  width: 90%;
  margin: auto;
  display: block;
}

/* End of Home Section */

/* ========================================================================== */

/* Start of Skills Section */

.skills {
  /* background-color: aqua; */
  background-color: var(--secondary-bg-color);
}

.skills > .skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.skills > .skills-container > .skill-icon {
  font-size: var(--large-font-size);
  margin: 0.5rem;
  padding: 1rem;
}

.skills > .skills-container > .skill-icon:hover {
  color: var(--highlight-text-color);
}

/* End of Skills Section */

/* ========================================================================== */

/* Start of Project Section */

.projects > .projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 3em;
}

.projects > .projects-container > .project-container {
  width: 40vmax;
  aspect-ratio: 16 / 9;
  border-radius: 25px;
  opacity: 0.75;
  box-shadow: 0.75rem 0.75rem 3px var(--hover-bg-color);
  position: relative;
}

.projects > .projects-container > .project-container:hover {
  box-shadow: 0.75rem 0.75rem var(--highlight-text-color);
  opacity: 1;
}

.projects > .projects-container.more-projects {
  padding-top: 0;
  display: none;
}


.projects > .projects-container > .project-container > * {
  position: absolute;
}

.projects > .projects-container > .project-container > img,
.projects > .projects-container > .project-container > p,
.projects > .projects-container > .project-container > .project-links > a {
  border-radius: 25px;
}

.projects > .projects-container > .project-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.projects > .projects-container > .project-container:hover > p,
.projects > .projects-container > .project-container:hover > img {
  filter: blur(3px);
}

.projects > .projects-container > .project-container.text {
  background-color: var(--text-color);
  color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--regular-font-size);
}

.projects > .projects-container > .project-container > .project-links {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.projects > .projects-container > .project-container:hover > .project-links {
  display: flex;

}

.projects > .projects-container > .project-container > .project-links > a {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  width: 90%;
  font-size: var(--small-font-size);
  text-align: center;
  padding: 7.5%;
  text-decoration: none;
}

.projects > .projects-container > .project-container > 
.project-links > .inactive-link {
  opacity: 0.5;
  cursor: not-allowed
}


.projects > .more-btn {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  margin: 2rem auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--smaller-font-size);
  padding: 1.25rem;
  border-radius: 2rem;
}

.projects > .more-btn:hover {
  background-color: var(--text-color);
  color: var(--primary-bg-color);
}

/* End of Projects Section */

/* ========================================================================== */

/* Start of Contacts Section */

.contacts {
  /* background-color: var(--secondary-bg-color); */
  /* min-height: 100vh; */
  min-height: 0;
  padding: 3em;

}
.contacts > hgroup {
  padding: 2em;
}

.contacts > hgroup > * {
  text-align: center;
}

.contacts > hgroup > .contact-title {
  font-size: calc(1.25em + 1vw);
  color: var(--highlight-text-color);
}

.contacts > hgroup > p {
  font-size: calc(1em + 1vw);
}

.contacts > .contact-infos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contacts > .contact-infos-container > .contact-info-container {
  display: flex;
  flex-direction: column;
  width: 30vmax;
  width: 30dvmax;
  aspect-ratio: 16 / 4;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.contacts > .contact-infos-container > button {
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
}


.contacts > .contact-infos-container > button:hover {
  background-color: var(--secondary-bg-color);

}

.contacts > .contact-infos-container > button > i {
  color: var(--highlight-text-color);
  font-size: calc(1em + 1vw);
}

.contacts > .contact-infos-container > button > span {
  font-size: calc(0.5em + 1vw);

}


.contacts > .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.contacts > .socials > a {
  justify-content: center;
  border-radius: 50%;
  margin: 3em 1em 0;
  font-size: calc(0.75em + 1vw);
  text-decoration: none;
  color: var(--text-color);
}

.contacts > .socials > a > i:hover {
  color: var(--highlight-text-color);
}


footer > .copyright {
  text-align: center;
  display: block;
  padding: 3em;
  font-size: calc(0.1em + 1vw);
}






/* Mobile and Tablets */
@media screen and (max-width: 767px) {
  :root {
    --regular-font-size: 1.5rem;
    --large-font-size: 2.5rem;
    --larger-font-size: 4.5rem;
  }

  header {
    justify-content: space-between;
  }

  header > .logo {
    margin-right: 0;
  }
  
  header > .top-nav-list {
    display: none;
  }

  header > .header-btn.top-nav-hamburger-btn {
      display: grid;
  }

  header > .header-btn.toggle-theme-btn {
    margin-left: 0;
  }
  

  .home > .introduction-container {
    height: 90vh;
    height: 90dvh;
  }
  
  .home > .introduction-container > .introduction {
    text-align: center;
  }

  .home {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}


/* Small Monitors */
@media screen and (min-width: 768px) and (max-width:991px) {
  :root {
    --regular-font-size: 1.5rem;
    --large-font-size: 3rem;
    --larger-font-size: 5rem;
  }
  
  header .header-btn {
    padding: 1rem 1.5rem;
  }

  .home > .introduction-container {
    height: 90vh;
    height: 90dvh;
  }
  
  .home > .introduction-container > .introduction {
    text-align: center;
  }

  .home {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}

/* Large Monitors */
@media screen and (min-width: 992px) and (max-width:1264px) {
  :root {
    --regular-font-size: 1.25rem;
    --large-font-size: 2.5rem;
    --larger-font-size: 4.5rem;
  }
}