:root {
  --background-color: #0c0b10;
  --text-color: #ffffff;
  --highlight-text-color: rgb(255, 106, 106);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "poppins", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
}


header {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}


header > .top-nav-list {
  padding: 3rem;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header > .top-nav-list > a {
  padding: 0 2.5rem;
}


.home {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home > .introduction-container > .introduction {
  font-size: 1.75rem;
  text-align: justify;
  align-self: center;
  margin: 0 10%;
  vertical-align: baseline;

}


.home > .introduction-container > .introduction-container > .introduction > .name-intro {
  font-size: 4rem;
}

.home > .introduction-container > .introduction > .name {
  font-size: 6rem;
  color: var(--highlight-text-color);
  font-weight: 700;
}

.home > .introduction-container, 
.home > .image-sieg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home > .image-sieg-container > .image-sieg {
  
  /* filter: grayscale(1.0); */
  opacity: 0.6;
  height: auto;
  width: 90%;
  margin: auto;
  display: block;
}



/* Mobile and Tablets */
@media screen and (max-width: 767px) {
  .home > .introduction-container {
    height: 90vh;
  }

  .home > .introduction-container > .introduction {
    font-size: 1.5rem;
    text-align: center;
  }
  .home > .introduction-container > .introduction > .name-intro {
    font-size: 2.5rem;
  }
  .home > .introduction-container > .introduction > .name {
    font-size: 4.5rem;
  }
  .home {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}

/* Small Monitors*/
@media screen and (min-width: 768px) and (max-width:991px) {
  .home > .introduction-container {
    height: 90vh;
  }

  .home > .introduction-container > .introduction {
    font-size: 1.5rem;
    text-align: center;
  }
  .home > .introduction-container > .introduction > .name-intro {
    font-size: 3rem;
  }
  .home > .introduction-container > .introduction > .name {
    font-size: 5rem;
  }
  .home {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}

/* Large Monitors */
@media screen and (min-width: 992px) and (max-width:1264px) {
  .home > .introduction-container > .introduction {
    font-size: 1.25rem;
  }
  .home > .introduction-container > .introduction > .name-intro {
    font-size: 2.5rem;
  }
  .home > .introduction-container > .introduction > .name {
    font-size: 4.5rem;
  }
}